# PROJECT_DIR is replaced by the directory where the script is located.
[Directories]
wallpapers_dir = /home/$USER/Pictures/Wallpapers/
log_file_path = PROJECT_DIR/change_wallpaper.log

[Commands]
command_light = gsettings set org.gnome.desktop.background picture-uri
command_dark = gsettings set org.gnome.desktop.background picture-uri-dark

[Other]
default_mode_id = 1
default_log_level = WARNING